.profile-pic-icon {
    width: 88px;
    height: 88px;
    position: relative;
    border-radius: var(--br-980xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .description,
  .title {
    align-self: stretch;
    position: relative;
    line-height: 150%;
  }
  .title {
    margin: 0;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .description {
    font-size: var(--body-bold-size);
    color: var(--neon-green);
  }
  .name-location {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .bio,
  .github1 {
    position: relative;
    font-size: var(--body-bold-size);
    line-height: 150%;
  }
  .bio {
    margin: 0;
    align-self: stretch;
  }
  .github1 {
    display: inline-block;
    font-family: var(--body-bold);
    color: var(--white);
    text-align: left;
    min-width: 49px;
  }
  .github {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-xl);
    background-color: var(--grey);
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .fem:hover,
  .github:hover,
  .instagram:hover,
  .linkedin:hover,
  .twitter-x:hover {
    background-color:yellowgreen;
  }
  .frontend-mentor {
    position: relative;
    font-size: var(--body-bold-size);
    line-height: 150%;
    display: inline-block;
    font-family: var(--body-bold);
    color: var(--white);
    text-align: left;
    min-width: 115px;
  }
  .fem {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-xl);
    background-color: var(--grey);
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .linkedin1 {
    position: relative;
    font-size: var(--body-bold-size);
    line-height: 150%;
    display: inline-block;
    font-family: var(--body-bold);
    color: var(--white);
    text-align: left;
    min-width: 59px;
  }
  .linkedin {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-xl);
    background-color: var(--grey);
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }
  .twitter {
    position: relative;
    font-size: var(--body-bold-size);
    line-height: 150%;
    display: inline-block;
    font-family: var(--body-bold);
    color: var(--white);
    text-align: left;
    min-width: 50px;
  }
  .twitter-x {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-xl);
    background-color: var(--grey);
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .instagram1 {
    position: relative;
    font-size: var(--body-bold-size);
    line-height: 150%;
    display: inline-block;
    font-family: var(--body-bold);
    color: var(--white);
    text-align: left;
    min-width: 70px;
  }
  .instagram,
  .links {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .instagram {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-xl);
    background-color: var(--grey);
    border-radius: var(--br-5xs);
    flex-direction: row;
    justify-content: center;
  }
  .links {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .card,
  .desktop {
    display: flex;
    box-sizing: border-box;
  }
  .card {
    width: 384px;
    border-radius: var(--br-xs);
    background-color: var(--dark-grey);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-21xl);
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  .desktop {
    width: 100%;
    height: 960px;
    position: relative;
    background-color: var(--black);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-155xl) var(--padding-xl) var(--padding-156xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--heading-size);
    color: var(--white);
    font-family: var(--body-bold);
  }
  @media screen and (max-width: 600px) {
    .card {
      padding-top: var(--padding-7xl);
      padding-bottom: var(--padding-7xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .title {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
  }
  
  
 